@import "_normalize.styl"
@import "_font-awesome.styl"
@import "forms-min.css"
@import "toggle-switch.css"

support-for-ie = false
vendors = webkit official

@import "nib"

html,
body
	font 16px "微软雅黑"
	text-align center
	background #6BACCF
	-webkit-font-smoothing antialiased
.box
	border-radius 6px
	box-shadow 3px 3px 5px #555
	border 1px solid #DDD

#page-wrap
	width 960px
	margin 0 auto
	#header
		margin 20px
		#title
			font-size 2.2em
			display inline-block
			color white
			text-shadow 1px 1px 4px #222
			font-family arial, sans-serif
			font-weight bold
			#logo
				height 36px
				vertical-align middle
				padding-bottom 2px
				-webkit-filter drop-shadow(1px 1px 5px #333)
	ul#menu
		list-style-type none
		display block
		padding 0
		margin 4px
		z-index -5
		li
			list-style none
			display inline-block
			a
				padding 6px 8px 8px 8px
				line-height 25px
				font-weight bold
				border 0
				border-radius 5px 5px 0 0
				color black
				background-color #ddd
				text-decoration none
				&:hover,
				&.active
					background-color white
	#main-wrap
		margin 0 120px
		padding 20px
		background-color white

		.panel
			display none
.ladaa-btn
	background-color #335393
	transition 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all
	padding 8px 10px
	cursor pointer
	overflow hidden
	color #fff
	border-radius 2px
	border 1px solid transparent
	-webkit-appearance none
	-webkit-tap-highlight-color rgba(0,0,0,0)
	position relative
	margin 20px
	.ladda-label
		font-size 15px
	&:hover
		background-color #4068b9

#switches
	margin-top 30px
	border-top 1px solid #DDD
	.row
		width 300px
		margin 10px auto
		clearfix()
		span.name
			font-size 20px
			float left
		div.onoffswitch
			float right
			display inline-block
			vertical-align bottom
#wrap-0
	form
		label
			width 50px
	padding-top 30px
	#saved
		color #853234
		display inline-block
		transition opacity 0.5s ease-in-out
		opacity 0
#wrap-1,
#wrap-2
	text-align left
	padding 10px 20px
ul
	list-style square
